*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav_title_a{
    text-decoration: none;
    color: white;
}

/* NAVBAR START */
header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav_title{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.nav_title p{
    padding: 0px;
    margin: 0px;
}
.nav_bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 8%;
    align-items: center;
}
.nav_detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: white;
}
.nav_detail li{
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.5s all;
}
.nav_detail li:hover{
    background-color: crimson;
}

/* NAVBAR END */

/* MAIN CONTENT START*/
.main_body{
display: flex;
height: 100vh;
width: 100%;
}
.side_bar{
width: 250px;
height: 100vh;
background-color: bisque;
position: fixed;
left: 0;
top: 58px;
}
.side_bar p{
    margin: 20px 10px;
    font-size: 1.5rem;
}
.side_bar_con{
    display: flex;
    flex-direction: column;
    list-style: none;
   
    text-decoration: none;
    gap: 15px;
}
.side_bar_con li{
    padding: 10px 0px;
    padding-left: 25px;
    transition: all 0.5s;
}
.side_bar_con a{
    text-decoration: none;
    
}
.side_bar_con li:hover{
    background-color: crimson;
    color: white;
}
.side_bar_con li:hover a{
    color: white;
}
.right_side{
    margin-left: 250px;
    margin-top: 50px;
    

   

}
/* MAIN CONTENT END*/
.main-wrap{
    margin-top: 20px;
    margin-left: 5px;
}
.menu_cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.card_det p{
    color: gray;
}
.card{
    background-color: aliceblue;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    min-width: 175px;
    width: 200px;
    height: 270px;
    min-height: 200px;
    margin: 10px;
}
h2{
    text-align: center;
    margin-top: 15px;
}
img{
    width: 100%;
}
.card .img{
    border-radius: 10px;
    height: 150px;
    
}
.card .img img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .card_det{
padding: 10px;
}
.buy_btn{
border: none;
outline: none;
padding: 10px 25px;
background-color: crimson;
color: white;
margin-bottom: 10px;
margin-top: 5px;
transition: all 0.5s;
cursor: pointer;
}
.buy_btn:hover{
    background-color: black;
}